* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0d0c0c;
    color: #ffffff;
    
}

header {
    width: 100%;
    padding: 20px 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 100;
}


.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar ul li {
    margin: 0 20px;
}

.navbar ul li a {
    color: #ffffff;
    font-size: 1.2rem;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #00aaff;
    box-shadow: 0 0 40px  #24d032;
}

section.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 10%;
    height: 100vh;
}

.left-container {
    flex: 1;
}

.left-container h1 {
    font-size: 3rem;
    color: #ffffff;
}

.left-container h1 span {
    color: #ece21f;
}

.left-container h2 {
    font-size: 2.5rem;
    color: #2db4c5;
    margin-top: 10px;
    animation: slideRight 1s ease forward;
    animation-delay: 1s;
}

.left-container p {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #aaaaaa;
}

.button-container {
    margin-top: 30px;
    padding: 5px;
}

.download-cv-btn, .view-project-btn {
    background-color: #2620d4;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-right: 20px;
    border-radius: 5px;
}

.download-cv-btn:hover, .view-project-btn:hover {
    background-color: #00cc47;
}

.social-icons {
    margin-top: 40px;
    
}

.social-icons a {
    color: #ffffff;
    margin-right: 40px ;
    font-size: 3rem;
    text-decoration: none;
    

}

.social-icons a:hover {
    color: #00aaff;
    box-shadow:0 0 20px rgb(255, 0, 200);
}

.right-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 500px;
    height: 500px;
    border-radius: 70%;

   
   /* border: 10px solid #ff0019;*/
    box-shadow:
    0 0  2rem rgb(238, 236, 237),
    inset 0 0 2rem  #064878,
    0 0   2rem  #3d7c91,
    inset 0 0 2rem  #1851bb,
    0 0   6rem  #810e7f,
    inset 0 0  6rem  #982727
    
    ;
    
    
}
.profile-image :hover{
    color: #00aaff;
}
/* About Section */
#about {
    background-color: #111111;
    padding: 50px 0;
    color: #fff;
}

#about .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#about .about-right {
    flex: 1;
    text-align: center;
}

#about .about-right img {
    width: 50%;
    height:50%;
    border-radius: 10px;
    box-shadow:
    0 0  2rem rgb(238, 236, 237),
    inset 0 0 2rem  #064878,
    0 0   2rem  #3d7c91,
    inset 0 0 2rem  #1851bb,
    0 0   6rem  #167b11,
    inset 0 0  6rem  #982727
    
}

#about .about-left {
    flex: 1;
    padding: 20px;
}

#about h2 {
    font-size: 3rem;
    color: #00c0ff;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.2rem;
    line-height: 1.8;
}


/* Project Section */

.projects {
    background-color: #111111;
    padding: 50px 0;
    color: #fff;
    text-align: center;
}

.projects h2 {
    font-size: 3rem;
    color: #00c0ff;
    margin-bottom: 40px;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.project-item {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.project-item:hover {
    transform: scale(1.05);
}

.project-item h3 {
    font-size: 1.8rem;
    color: #d4af27cd;
    margin-bottom: 15px;
}

.project-item p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #ddd;
}

.project-item a {
    display: inline-block;
    margin-top: 10px;
    font-size: 1.1rem;
    color: #00c0ff;
    text-decoration: none;
    border: 2px solid #00c0ff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.project-item a:hover {
    background-color: #00c0ff;
    color: #111111;
}


/* Certification Section */
.certifications {
    background-color: #111111;
    padding: 50px 0;
    color: #fff;
    text-align: center;
}

.certifications h2 {
    font-size: 3rem;
    color: #00c0ff;
    margin-bottom: 40px;
}

.certification-list {
    text-align: left;
    margin: 0 auto;
    max-width: 800px;
}

.certification-list h3 {
    font-size: 2rem;
    color: #cb32be;
    margin-bottom: 20px;
}

.certification-list ul {
    list-style-type: none;
    padding: 0;
}

.certification-list ul li {
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.certification-list ul li a {
    font-size: 1.1rem;
    color: #4f91ba;
    text-decoration: none;
    border: 1px solid #0d3c6c;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.certification-list ul li a:hover {
    background-color: #2385e7;
    color: #111111;
}

/* Skills Section */
.skills {
    padding: 120px 0;
    background: linear-gradient(135deg, #040c10, #1b5982);
    color: white;
}

.skills h2 {
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.skills-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.skills-list li {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 50px 60px;
    margin: 15px;
    border-radius: 10px;
    font-size: 1.4rem;
    text-align: center;
    box-shadow: 0 5px 15px rgba(201, 40, 40, 0.2);
    transition: transform 0.3s ease, background 0.3s ease;
    display: flex;
    align-items: center;
    gap: 50px;
}

.skills-list li:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: translateY(-10px);
}

.skills-list li i {
    font-size: 1.6rem;
    color: #ffdf00; /* Icon color */
}

.skills-list li:hover i {
    color: #ff8000;
}


/* Contact Section */
.contact {
    padding: 60px 0;
    background-color: #141313;
    text-align: center;
}

.contact h2 {
    font-size: 2.8rem;
    color: #efe8e8;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contact-info {
    margin-bottom: 30px;
}

.contact-info p {
    font-size: 1.2rem;
    color: #d7caca;
    margin-bottom: 10px;
}

.contact-info i {
    margin-right: 10px;
    color: #007acc;
}

.contact-info a {
    color: #007acc;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
}

.contact-form button {
    background-color: #007acc;
    color: rgb(224, 197, 197);
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #005fa3;
}

.social-icon {
    margin-top: 30px;
}

.social-icon a {
    margin: 0 15px;
    color: #d8cece;
    font-size: 1.8rem;
    transition: color 0.3s ease;
}

.social-icon a:hover {
    color: #007acc;
}
